* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


@media screen and (max-width: 640px) {

    body {
        position: static;
    }

    .imagem-logo {
        width: 100vw;
        margin: 0 auto;
    }

    #menu-nav {
        display: none;
        margin-left: 100%;
    }

    #btn-close {
        display: none;
    }

    /* SLIDER*/
    .slider input {
        display: none;
    }

 
    .slider {
        width: 100vw;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        height: 160px;
        overflow: hidden;
        margin-top: 5px;
    }

    .slides {
        width: 90vw;
        height: 160px;
        position: relative;
        display: flex; 
        overflow: hidden;
    }

    .image-dog {
        width: 90vw;
        display: flex;
        align-items: center;
    }

    .image-dog img {
        width: 90vw;
        border-radius: 20px;

    }

    .btn-span {
        color: rgb(255, 255, 255);
        font-size: 28px;
    }

    .btn-span-left {
        position: absolute;
        left: 0;
        height: 160px;
        display: inline-flex;
        align-items: center;
        z-index: 9;
    }

    .btn-span-right {
        position: absolute;
        right: 0;
        height: 160px;
        display: inline-flex;
        align-items: center;
        z-index: 9;
    }

    .btn-span-left span,
    .btn-span-right span {
        color: red;
        margin-left: -1px;
    }
    .btn-span-right span{
        margin-right: -1px;
    }


    #radio1:checked~.first {
        margin-left: 0;
    }

    #radio2:checked~.first {
        margin-left: -100%;
    }

    #radio3:checked~.first {
        margin-left: -200%;
    }

    #radio4:checked~.first {
        margin-left: -300%;
    }

    /*SLIDER END*/


    a {
        color: #fff;
    }

    .menu ul ul {
        width: 100%;
        display: none;
    }

    .menu ul ul ul li {
        display: none;
    }

    .menu ul ul li:hover ul li {
        width: 100%;
        margin: 0 auto;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }


    .menu ul li:hover {
        background-color: rgba(35, 82, 126, .7);
    }

    .menu ul li {
        width: 100%;
        line-height: 35px;
        background-color: rgb(35, 82, 126);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: auto;
    }

    .menu ul li:hover ul {
        display: flex;
        flex-direction: column;

    }

    .btn-open button {
        background-color: transparent;
        border: none;
        display: inline-flex;
        flex-direction: row;
    }

    .btn-close button {
        background-color: white;
        display: inline-block;
        position: absolute;
        right: 0;
        background-color: transparent;
        border: none;
        display: flex;
        /* margin-right: 0; */
        color: red;


    }

    .button-open span {
        font-size: 20px;
    }

    .menu-text {
        font-size: 20px;
        /* padding-left: 5px; */
    }

    .btn-close span {
        font-weight: bold;
        background-color: white;
        border-radius: 50px;
        display: inline-block;
        position: absolute;
        right: 0;
    }

    .footer-page {
        width: 100%;
        height: 60px;
        background-color: rgb(35, 82, 126);
        position: absolute;
        bottom: 0;
    }

    .footer-page ul {
        width: 100%;
        text-align: center;
    }

    .footer-page ul li {
        display: inline-block;

    }

    .ul-icons li a {
        margin: 0 50px;
        font-size: 24px;
        line-height: 50px;
    }


}